<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>{{name.username}}'s Dashboard</h3>
        <strong><a href="/manager_dashboard">Home</a> | <a href="/logout">Logout</a></strong>
    </div>
    <hr>
    <br> <br>
    <div style="text-align: center;" >
        <strong>Summary will come here...</strong>
    </div>
    
</body>
</html>
