<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <style>
        a{text-align: center;}
        a{color: cadetblue;}

    </style>
</head>
<body>
    <br/><br/>
    <br/><br/>
    <div style="text-align: center;">
        <a href="/manager"><button><h4>Login as Manager</h4></button></a>
    </div>
    <br/> <br/>
    <br/> <br/>
    <div style="text-align: center;">
        <a href="/user_login"><button><h3>Login as User</h3></button></a>
    </div>
</body>
</html>