<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        table{border-collapse: collapse; width: 100%;}
        td,th{ padding: 8px ; text-align: left; border-bottom: 1px solid #ddd;}
        tr:hover{background-color: bisque;}
        th{ color: darkgreen;}
    </style>
</head>
<body>
    <div class="container">
        <h3>{{name}}'s Dashboard</h3>
        <strong><a href="/manager_dashboard">Home</a> | <a href="/logout">Logout</a></strong>
    </div>
    <hr>
    <br> <br>
    <table id="all-products">
        <tr>
            <th>S.No</th>
            <th>Product</th>
            <th>Amount Sold</th>
            <th>Sales</th>
        </tr>
        {% for p in d %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{p}}</td>
            <td>{{d[p][0]}}</td>
            <td>Rs .{{d[p][1]}}</td>
        </tr>
        {% endfor %}
    </table>
    <br> <br>
    <div style="text-align: center;">
        <h3>Total Sales Worth: Rs. {{total}}</h3>
    </div>
</body>
</html>





